.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  width: 22vw;
  height: 20vw;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1vw;
}

.square__arrow {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  margin: 0.5vw;
  font-size: 1.5vw;
  background-color: rgb(252, 252, 252);
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
}

.square__center {
  display: flex;
  flex-direction: row;
  height: 10vw;
}

.square__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
}

.square__display-name {
  font-weight: 800;
  font-size: 1.5vw;
  margin-bottom: 0;
}

.square__display-image {
  width: 2vw;
  height: 2vw;
  margin: 7px;
}

.square__center-content {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
