* {
  box-sizing: border-box;
  font-family: "Libre";
  font-weight: 400;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__row {
  display: flex;
  flex-direction: row;
}

.app__congratulation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.app__display-congratulation {
  font-size: 3vw;
  font-weight: 800;
}
