@font-face {
  font-family: "Libre";
  font-weight: 400;
  font-style: normal;

  src: url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre";
  font-weight: 400;
  font-style: italic;

  src: url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Libre";
  font-weight: 400;
  font-style: bold;

  src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
